body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f7f9fb;
}

.navbar {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: normal;
}

.container {
  text-align: center;
  padding: 40px;
}

.candidates {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.card {
  width: 220px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.card p {
  margin-bottom: 10px;
  color: #28a745;
  font-weight: bold;
}
